div{
    margin: 20px;
}
.dotted{
    border-style: dotted;
}
.dashed{
    border-style: dashed;
}
.solid{
    border-style: solid;
}
.double{
    border-style: double;
}
.groove{
    border-style: groove;
}
.rigde{
    border-style: ridge;
}
.inset{
    border-style: inset;
}
.outset{
    border-style: outset;
}
.none{
    border-style: none;
}
.hidden{
    border-style: hidden;
}
.box-1{
    border-style: dotted dashed solid double;
    border-width: 3px 1px 5px 7px;
    border-color: blue red yellow green;
}
.box-2{
    border-style: dotted dashed solid ; /*ler s'dam ch'vang k'rom*/
    border-width: 3px 5px 7px;
    border-color: red yellow green;
}
.box-3{
    border-style: dotted dashed ;
    border-width:  3px 5px;
    border-color:  yellow green;
}
.box-4{
    border-style: dotted ;
    border-width: 7px;
    border-color:  green;
}
.box-5{
    border-bottom: 2px solid red;
}
.box-6{
    border-left: 5px solid red;
    background-color:rgb(237, 105, 105);
}
.box-7{
    border: 1px solid red ;
    border-radius:4px;
}