body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{
    background-color: blueviolet;
    color: brown;
    text-align: center;

}
@media all and (min-width:500px) and (max-width: 600px){
    h1{
        background-color: aqua;
        color: ghostwhite;
    }
}
@media all and (min-width:700px) and (max-width: 800px){
    h1{
        background-color: deeppink;
        color: ghostwhite;
    }
}