body{
    margin: 0;
    padding: 0;
    background-color: grey;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.container{
    width: 600px;
    background-image: url(../IMAGE/4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 20px;
    border: 2px solid white;
}
