body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color: grey;
    width: 100%;
}
.menu{
    padding: 20px;
    margin: 20px;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;   
    text-align: center;
}
.menu ul li{
    display: inline-block;/*mk chea 1 jor dek*/
}
.menu ul li a{
    text-decoration: none;/*dork ruller janh hz tvor dak knong <a></a> tag derm 3 dork ruller janh ban*/
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: sans-serif;
    padding: 50px;
    transition: all .5s linear;
}
.menu ul li a i{
    font-size: 20px;
}
.menu ul li:hover a{
    color: crimson;
}